@import 'base';
@import 'select2-bootstrap';
:root{
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-primary: #0B4168;
	--color-gray: #707070;
	--bg-white: #FFFFFF;
	--bg-black: #000000;
	--bg-primary: #0B4168;
	--bg-input: #F4F6F9;
	--bg-input-shadow: #F4F6F980;
	--bg-sub-menu: #F4F4F4;
	--bg-weekend-swiper: var(--bg-input);
	--bg-donate-btn: #7EB984;
} 
@keyframes hamburger-bar-animate{
    0%{ 
        left: 0; 
        right: 100%; 
    }
    35%{ 
        left: 0; 
        right: 100%; 
    }
    50%{ 
        left: 0; 
        right: 0; 
    }
    65%{ 
        left: 100%; 
        right: 0; 
    }
    100%{ 
        left: 100%; 
        right: 0; 
    }
}
@keyframes menuAnimateIn{
    0%{ 
        transform: translate3d(0, 100px, 0); 
        opacity: 0; 
    }
    100%{ 
        transform: translate3d(0, 0, 0); 
        opacity: 1; 
    }
}
@keyframes menuAnimateOut{
    0%{ 
        transform: translate3d(0, 0px, 0); 
        opacity: 1; 
    }
    100%{ 
        transform: translate3d(0, 100px, 0); 
        opacity: 0; 
    }
}
html{
	scroll-behavior: smooth;
}
body{
	&.fixed-nav{
		.header{
			.up{
				.hamburger{
					top: 1.5rem;
				}
			}
			.low{
				position: fixed;
				width: 100%;
				top: 0;
				box-shadow: 0 0 8px rgba(0,0,0,.1);
			}
		}
	}
}
.container{
	max-width: 1920px; 
	@media (min-width: 1200px){
		padding-left: 30px;
		padding-right: 30px;
	}
	@media (min-width: 1500px){
		padding-left: 40px;
		padding-right: 40px;
	}
	&-2{
		max-width: 1100px; 
		margin-left: auto;
		margin-right: auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}//container
.header{
	position: relative;
	z-index: 53;
	.up{
		background: var(--bg-primary);
		padding: .5rem 0;
		.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.mail{
			a{
				display: inline-block;
				color: var(--color-white);
				padding: 5px 5px 5px 0;
				font-size: 12px;
				>span{
					display: flex;
					align-items: center;
					span{
						display: block;
						transition: .4s; 
						&+span{
							padding-left: 10px;
							transition-delay: .1s;
						}
					}
				}
				&:hover{
					>span{
						span{
							transform: translateX(3px);
							&+span{
								transform: translateX(5px);
							}
						}
					}
				}
			}
		}//mail
		.donate{
			display: flex;
			justify-content: flex-end;
			button,a{
				width: 160px;
				height: 32px;
				border-radius: 7px;
				background: var(--bg-donate-btn);
				color: var(--color-white);
				font-size: 14px;
				line-height: 1.75;
				font-weight: 500;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: .4s; 
				border: 1px solid var(--bg-donate-btn);
				span{}
				&:hover{
					background: var(--color-primary);
				}
			}
		}//donate
	}//up
	.low{
		background: #fff;
		.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.logo{
			a{
				display: block;
				img{
					display: block;
					width: 100%;
					min-width: 100px;
					max-width: 164px;
				}
			}
		}//logo
		.menu{
			ul{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				li{
					position: relative;
					a{
						display: block;
						padding: .5rem 1rem;
						font-size: 14px;
						font-weight: 500;
						line-height: 1.75;
						color: var(--color-black);
					}
					.sub-menu{
						background: var(--bg-sub-menu);
						padding: 1rem 1.25rem;
						position: absolute;
						left: 0;
						top: 100%;
						opacity: 0;
						pointer-events: none;
						transform: translateY(-50px) translateX(0px);
						transition: .4s;
						&:before{
							content:"";
							position: absolute;
							left: 50%;
							transform: translateX(-50%);
							top: -5px;
							width: 0; 
							height: 0; 
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid var(--bg-sub-menu);
						}
						ul{
							li{
								a{
									white-space: nowrap;
									display: block;
									font-size: 12px;
									font-weight: 500;
									line-height: 1.25;
									color: var(--color-black);
								}
							}
						}
					}
					&.special-btn{
						margin-left: 2rem;
						a{
							display: block;
							width: 160px;
							height: 44px;
							background: var(--bg-primary);
							color: var(--color-white);
							border-radius: 8px;
							padding: .5rem;
							text-align: center;
							border: 1px solid var(--bg-primary);
							transition: .4s;
							span{}
							&:hover{
								background: var(--bg-white);
								color: var(--bg-primary);
							}
						}
					}
					&:hover{
						.sub-menu{
							opacity: 1;
							transform: translateY(0);
							pointer-events: all;
						}
					}
				}
			}
			.mobile-footer{
				display: none;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 1rem; 
				.mail{
					display: flex;
					justify-content: center;
					padding-bottom: 1rem;
					a{
						display: inline-block;
						color: var(--color-white);
						padding: 5px 5px 5px 0;
						font-size: 1rem;
						font-weight: 700;
						>span{
							display: flex;
							align-items: center;
							span{
								display: block;
								transition: .4s; 
								&+span{
									padding-left: 10px;
									transition-delay: .1s;
								}
							}
						}
						&:hover{
							>span{
								span{
									transform: translateX(3px);
									&+span{
										transform: translateX(5px);
									}
								}
							}
						}
					}
				}//mail
				.donate-btn{
					width: 45%;
					height: 44px;
					border-radius: 7px;
					background: var(--bg-donate-btn);
					color: var(--color-white);
					font-size: 14px;
					line-height: 1.75;
					font-weight: 500;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: .4s; 
					border: 1px solid var(--bg-donate-btn);
					span{}
					&:hover{
						background: var(--color-primary);
					}
				}
				.register-btn{
					display: block;
					width: 45%;
					height: 44px;
					background: var(--bg-primary);
					color: var(--color-white);
					border-radius: 8px;
					padding: .5rem;
					text-align: center;
					border: 1px solid var(--bg-primary);
					transition: .4s;
					span{}
					&:hover{
						background: var(--bg-white);
						color: var(--bg-primary);
					}
				}
			}
		}
	}//low
	@media (max-width: 1200px){
		.low{
			.menu{
				ul{
					li{
						a{ 
							padding: .5rem;
							letter-spacing: -.1px; 
						}
						&.special-btn{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}
}//header
#hamburger{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    &:checked{
        &~.header{
			.up{
				.hamburger{ 
					.hamburger-bar{
						&:nth-child(1){ 
							transform: rotate(-45deg) translateY(5px) translateX(-5px); 
						}
						&:nth-child(2){ 
							opacity: 0; 
						}
						&:nth-child(3){ 
							transform: rotate(45deg) translateY(-6px) translateX(-6px); 
						}
					}
					@media only screen and (min-width : 992px){
						&:hover{
							.hamburger-bar{
							&:nth-child(1){ 
								transform: rotate(-40deg) translateY(4px) translateX(-4px); 
							}
							&:nth-child(2){ 
								opacity: .2; 
							}
							&:nth-child(3){ 
								transform: rotate(40deg) translateY(-5px) translateX(-5px); 
							}
							}
						} 
					}
				}
			}
		}
        @media only screen and (max-width : 991px){ 
            &~.header{
				.low{
					.menu{ 
						opacity: 1; 
						pointer-events: all; 
						transition: {
							duration: 1s;
							delay: 0s;
							timing-function: cubic-bezier(1, 0, .25, 1);
						} 
					}
				} 
                /* menu animate function */
                @for $i from 1 to 9 {
                    .im-animate-#{$i}{ 
                        $j : ($i * 100) + 500;
                        animation: {
                            name: menuAnimateIn; 
                            timing-function: cubic-bezier(.68, 0, .265, 1); 
                            fill-mode: both; 
                            duration: 400ms;
                            delay:  #{$j}ms; 
                        }
                    }
                }
            }
        }
    }
}//#hamburger
.hamburger{ 
	display: none; 
	position: fixed; 
	top: 4.5rem; 
	right: 1rem; 
	cursor: pointer; 
	padding: .5rem; 
	z-index: 553; 
	transition: ease-in-out .4s; 
	background: var(--bg-primary); 
	border-radius: 8px;
	animation: {
		name: color-change-5x;
		duration: 8s;
		timing-function: linear;
		delay: 0;
		direction: alternate;
		fill-mode: both;
	}
	&-bar{ 
		display: block; 
		width: 28px; 
		height: 3px; 
		border-radius: 3px; 
		opacity: 1; 
		transition: .4s; 
		background: var(--bg-white); 
		margin-bottom: 5px; 
		overflow: hidden; 
		position: relative; 
		&:nth-child(3){ 
			margin-bottom: 0; 
		}
		&:before{  
			content:""; 
			position: absolute; 
			left: 0; 
			top: 0; 
			bottom: 0; 
			right: 100%; 
			background: var(--bg-primary); 
		}
		&:nth-child(1){
			&:before{ 
				animation: {
					name:hamburger-bar-animate;
					duration: 8s; 
					timing-function: linear;
					fill-mode: infinite; 
				}
			}
		}
		&:nth-child(2){
			&:before{ 
				animation: {
					name:hamburger-bar-animate;
					duration: 8s; 
					timing-function: linear;
					fill-mode: infinite; 
					delay: .25s;
				}
			}
		}
		&:nth-child(3){
			&:before{ 
				animation: {
					name:hamburger-bar-animate;
					duration: 8s; 
					timing-function: linear;
					fill-mode: infinite; 
					delay: .5s;
				}
			}
		}
	}
	@media only screen and (min-width : 992px){
		&:hover{
			.hamburger-bar{ 
				&:nth-child(1){ 
					transform: rotate(-5deg) translateY(1px) translateX(-1px); 
				}
				&:nth-child(2){ 
					opacity: .8; 
				}
				&:nth-child(3){ 
					transform: rotate(5deg) translateY(-1px) translateX(-1px); 
				}
			}
		}
	} 
	@media only screen and (max-width : 991px){ 
		display: block; 
	}
}/* hamburger end*/
@media (max-width: 992px){
	.header{
		.low{
			.menu{
				position: fixed; 
				top: 0; 
				right: 0; 
				left: auto; 
				width: 100%; 
				height: 100vh; 
				overflow-x: hidden; 
				overflow-y: auto; 
				background: rgba(0,0,0,.95); 
				opacity: 0;
				pointer-events: none; 
				display: grid;
				place-items: center;
				padding-bottom: 100px;
				transition: { 
					duration: 1s;
					delay: .5s;
					timing-function: cubic-bezier(1, 0, .25, 1);
				}
				>ul{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					>li{
						flex: 0 0 100%;
						max-width: 100%;
						text-align: center;
						a{
							font-size: 1.5rem;
							color: var(--color-white);
						}
						>.sub-menu{ 
							position: relative;
							padding: 0;
							transform: translateY(0);
							text-align: center;
							background: transparent;
							&:before{
								display: none; 
							}
							>ul{
								justify-content: center;
								padding-bottom: 0;
								transition: .4s;
								>li{
									overflow: hidden;
									transition: .4s;
									>a{
										font-size: 1.25rem;
										padding: 0 1rem;
										line-height: 0;
										transition: .4s; 
										color: var(--color-white);
									}
								}
							}
						}
						&.special-btn{
							margin-left: 0; 
							a{
								background: transparent;
								border: none;
								margin: 0 auto;
								width: 100%;
								&:hover{
									background: transparent;
									border: none;
									color: var(--color-white);
								}
							}
						}
						&:hover{
							>.sub-menu{
								>ul{
									padding-bottom: 1rem;;
									>li{
										a{
											padding: 1rem;
											line-height: 1;
										}
									}
								}
							}
						}
					}
				}
				.mobile-footer{
					display: block;
				}
			}
			@for $i from 1 to 9 {
				.im-animate-#{$i}{ 
					$j : $i * 100;
					$g : 900 - $j;
					animation: {
						name: menuAnimateOut;
						timing-function: cubic-bezier(.68, 0, .265, 1);
						fill-mode: both; 
						duration: 400ms;
						delay: #{$g}ms; 
					}
				}
			}
		}
	}
}//header mobile settings
.page-banner{
	width: 100%;
	height: 206px;
	position: relative;
	display: grid;
	place-items: center;
	.img{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		img{
			display: block;
			width: 100%; 
			height: 100%;
			object-fit: cover;
		}
	}
	.text{
		position: relative;
		h1{
			font-size: 42px;
			font-weight: 400;
			line-height: 1.25;
			color: var(--color-primary);
			text-align: center;
			margin: 0;
			text-shadow: 2px 2px 1px #96969680;
		}
		.breadcrumb{
			justify-content: center;
			li{
				a{
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1px;
					font-size: 14px;
					font-weight: 400;
					color: var(--color-primary);
					text-shadow: 2px 2px 1px #96969680;
					span{
						padding: 0 3px;
					}
				}
				&:nth-last-child(1){
					a{
						span{
							&+span{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}//page-banner
.page-content{}//page-content
.general-page{
	padding-top: 70px;
	text-align: center;
	h2{
		font-size: 25px;
		font-weight: 600;
		line-height: 1.25;
		color: var(--color-black);
		margin-bottom: 1rem;
	}
	p{
		font-size: 18px;
		font-weight: 500;
		line-height: 1.25;
		color: var(--color-gray);
	}
}//general-page
.about-section{
	padding: 110px 0 60px;
	.article{
		width: 100%;
		max-width: 500px;
		h2{
			font-size: 16px;
			font-weight: 700;
			line-height: 1.25;
			color: var(--color-black);
			margin-bottom: 40px;
			position: relative;
			padding-bottom: 5px;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 80px;
				height: 2px;
				background: var(--bg-primary);
			}
		}
		p{
			font-size: 18px;
			font-weight: 500;
			line-height: 1.25;
			color: var(--color-gray);
			margin-bottom: 20px;
			strong{
				font-weight: 700;
			}
		}
		@media (max-width: 768px){
			max-width: 100%;
			text-align: center;
			h2{
				&:before{
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
	.img{
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			box-shadow: 10px 10px 25px 0px #00000040;
		}
		@media (max-width: 768px){
			height: 500px; 
		}
	}
}//about-section
.our-team{
	padding-top: 60px;
	.our-team-mobile{
		display: none;
		@media (max-width: 576px){
			display: block;
		}
	}
	h3{
		font-size: 25px;
		font-weight: 600;
		line-height: 1.25;
		color: var(--color-black);
		text-align: center;
		margin-bottom: 40px;
	}
	.item{
		margin-bottom: 1rem;
		.img{
			width: 100%;
			padding-bottom: 100%;
			position: relative;
			overflow: hidden;
			img{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1s;
			}
		}
		.text{
			padding: .875rem 0;
			.name{
				font-size: 16px;
				font-weight: 700;
				line-height: 1.75;
				color: var(--color-black);
			}
			.title{
				font-size: 14px;
				font-weight: 400;
				line-height: 1.25;
				color: var(--color-gray);
			}
		}
		&:hover{
			.img{
				img{ transform: scale(1.05); }
			}
		}
	}//item
	.our-team-slider{
		.swiper-wrapper{
			.h3-first{}
			.h3-second{}
			.item-1{}
			.item-2{}
			.swiper-slide{}
		}
		@media (min-width: 576px){
			.swiper-wrapper{
				flex-wrap: wrap;
				gap: 25px;
				.h3-first,
				.h3-second{
					flex: 0 0 100%;
					max-width: 100%; 
				}
				.item-1{
					margin-left: 25%; 
				}
				.item-2{}
				.swiper-slide{
					flex: 0 0 calc(25% - 25px);
					max-width: calc(25% - 25px);
				}
			}
		}
		@media (min-width: 768px) and (max-width: 992px){
			.swiper-wrapper{
				.item-1{ margin-left: calc(33% / 2); }
				.swiper-slide{
					flex: 0 0 calc(33% - 25px);
					max-width: calc(33% - 25px);
				}
			}
		}
		@media (min-width: 576px) and (max-width: 768px){
			.swiper-wrapper{
				.item-1{ 
					margin-left: 0; 
				}
				.swiper-slide{
					flex: 0 0 calc(50% - 25px);
					max-width: calc(50% - 25px);
				}
			}
		}
		@media (max-width: 576px){
			.swiper-wrapper{
				.h3-first,
				.h3-second{ 
					display: none; 
				}
				.swiper-slide{
					width: 60%;
				}
			}
		}
	}
	.more{
		@media (max-width: 576px){
			display: none; 
		}
	}
	&.our-team-main{
		.our-team-slider{
			.swiper-wrapper{
				.swiper-slide{}
			}
		}
	}
}//out-team
.more{
	padding: .5rem 0 1.5rem;
	display: flex;
	justify-content: center;
	button{
		display: flex;
		flex-direction: column;
		padding: 1rem;
		font-size: 13px;
		font-weight: 500;
		position: relative;
		color: var(--color-black);
		padding-top: 45px;
		border: none;
		background: transparent;
		span{
			display: block;
			transition: .4s;
			&.cyclone{
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 40px;
				height: 40px;
				border-radius: 40px;
				background: var(--bg-primary);
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--color-white);
				margin-bottom: 5px;
				transition-delay: .1s;
			}
		}
		&:hover{
			span{
				transform: translateY(5px);
				&.cyclone{
					transform: translateY(5px) translateX(-50%);
				}
			}
		}
	}
}//more button
.registration-form{
	width: 890px;
	max-width: 100%;
	margin: 60px auto 70px;
	padding: 2rem 1rem;
	box-shadow: 0px 5px 30px 0px #CACACA40;
	background: var(--bg-white);
	h2{
		font-size: 25px;
		font-weight: 600;
		color: var(--color-black);
		text-align: center;
		width: 100%;
		margin: 0 auto 1rem;
		max-width: 620px;
	}
	p{
		font-size: 13px;
		font-weight: 400;
		line-height: 1.75;
		color: var(--color-black);
		text-align: center;
		width: 100%;
		margin: 0 auto;
		max-width: 620px;
	}
	.form{
		padding-top: 60px;
		input,textarea{
			display: block;
			font-size: 13px;
			font-weight: 600;
			background: var(--bg-input);
			border: none;
			box-shadow: none;
			height: 52px;
			border-radius: 0;
			width: 100%;
			margin: 0 auto 27px;
			max-width: 620px;
			&::placeholder{
				color: var(--color-black);
				opacity: 1;
			}
			&:focus{
				box-shadow: 0 0 0 0.125rem var(--bg-input-shadow);
			}
		}
		textarea{
			resize: none;
			height: 190px;
		}
		button{
			display: block;
			border: none;
			font-size: 13px;
			font-weight: 600;
			color: var(--color-white);
			width: 100%;
			margin: 0 auto 27px;
			max-width: 620px;
			height: 45px;
			background: var(--bg-primary);
			transition: .4s;
			span{}
			&:hover{
				opacity: .9;
			}
		}
	}
}//registration-form
.gallery{
	h2{
		font-size: 25px;
		font-weight: 600;
		line-height: 1.25;
		color: var(--color-black);
		text-align: center;
		margin-bottom: 40px;
	}
	padding: 80px 0 70px;
	.item{
		margin-bottom: 24px;
		a{
			display: block;
			width: 100%;
			padding-top: 100%;
			position: relative;
			overflow: hidden;
			img{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: .4s;
			}
			&:before{
				content:"";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: url(../img/zoom-in.svg) center center no-repeat #ffffff80;
				background-size: 15%;
				color: var(--color-primary);
				opacity: 0;
				z-index: 5;
				transition: .4s;
			}
			&:hover{
				img{
					transform: scale(1.1);
					transition: 10s;
				}
				&:before{
					opacity: .9;
					background-size: 20%;
				}
			}
		}
	}
}//gallery
.community-article{
	padding: 53px 0 153px;
	.img{
		position: relative;
		width: 100%;
		padding-top: 100%;
		margin-bottom: 1rem;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			left: 0;
			top: 0; 
		}
		@media (max-width: 768px){
			padding-top: 60%;
		}
	}
	h2{
		font-size: 20px;
		font-weight: 600;
		line-height: 1.25;
		color: var(--color-black);
	}
	p{
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		color: var(--color-gray);
	}
	.row{
		.d-flex{
			padding-left: 50px;
		}
		&.flex-row-reverse{
			.d-flex{
				padding-left: 0;
				padding-right: 50px; 
			}
		}
		@media (max-width: 768px){
			.d-flex{
				padding-left: 0;
			}
			&.flex-row-reverse{
				.d-flex{
					padding-right: 0; 
				}
			}
		}
	}
	.gallery{
		padding-bottom: 0; 
		.item{
			a{
				padding-top: 60%;
			}
		}
	}
	&.main-community-article{
		padding-bottom: 50px;
		.center-text{
			padding-top: 60px;
			text-align: center;
		}
	}
}//community-article
.events-article{
	padding: 50px 0; 
	.row{
		.col{
			margin-bottom: 50px; 
		}
	}
	.item{
		position: relative;
		height: 100%;
		padding-bottom: 14px;
		h2{
			font-size: 20px;
			font-weight: 600;
			line-height: 1.5;
			color: var(--color-black);
			text-align: center;
			margin-bottom: 1rem;
		}
		h3{
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			color: var(--color-black);
			margin-bottom: 1rem;
		}
		.iframe{
			display: block;
			width: 100%;
			padding-top: 60%;
			position: relative;
			margin-bottom: 24px; 
			iframe{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0; 
			}
		}
		.img{
			display: block;
			width: 100%;
			padding-top: 100%;
			position: relative;
			margin-bottom: 24px;
			img{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: contain;
				left: 0;
				top: 0; 
			}
		}
		.detail{
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 5px 10px 5px 0;
			font-size: 16px;
			font-weight: 700;
			color: var(--color-primary);
			transition: .4s;
			transform: translateX(0);
		}
		&:hover{
			.detail{
				transform: translateX(10px);
			}
		}
	}
}//events-article
.weekend-school-article{
	padding: 50px 0;
	.item{
		position: relative;
		h2{
			font-size: 20px;
			font-weight: 600;
			line-height: 1.5;
			color: var(--color-black);
			text-align: center;
			margin-bottom: 1rem;
		}
		.iframe{
			display: block;
			width: 100%;
			padding-top: 60%;
			position: relative;
			margin-bottom: 24px; 
			iframe{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0; 
			}
		}
	}
	.genera-page{
		padding-top: 0;
	}
}//weekend-school
.page-slider{
	padding: 55px 0;
	background: var(--bg-weekend-swiper);
	position: relative;
	.container-2{
		position: relative; 
	}
	h2{
		font-size: 25px;
		font-weight: 600;
		line-height: 1.25;
		color: var(--color-black);
		margin-bottom: 1rem;
		text-align: center;
		padding-bottom:44px;
	}
	.swiper{
		.swiper-slide{
			.img{
				height: 500px;
				img{
					display: block;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
				&.cover{
					img{
						object-fit: cover;
					}
				}
			}
			.text{
				background: var(--bg-white);
				padding: 50px;
				height: 100%;
				display: flex;
				align-items: center;
				h3{
					font-size: 18px;
					font-weight: 600;
					line-height: 1.5;
					color: var(--color-black);
					margin-bottom: 32px;
				}
				p{
					font-size: 18px;
					font-weight: 500;
					line-height: 1.25;
					color: var(--color-gray);
					margin-bottom: 1.5rem;					
				}
				a{
					display: inline-block;
					background: var(--bg-primary);
					color: var(--color-white);
					border-radius: 8px;
					padding: .5rem 1rem;
					text-align: center;
					border: 1px solid var(--bg-primary);
					transition: .4s;
					font-size: 14px;
					font-weight: 500;
					span{}
					&:hover{
						background: var(--bg-white);
						color: var(--bg-primary);
					}
				}
			}
		}
	}
	.swiper-button-next{
		color: var(--color-black);
		right: -2rem;
		padding: 1rem;
		&:after{
			font-size: 1.5rem;
			transition: .4s;
		}
		&:hover{
			&:after{
				transform: translateX(5px);
			}
		}
		@media (max-width: 1200px){
			right: 0;
		}
	}
	.swiper-button-prev{
		color: var(--color-black);
		left: -2rem;
		padding: 1rem;
		&:after{
			font-size: 1.5rem;
			transition: .4s;
		}
		&:hover{
			&:after{
				transform: translateX(-5px);
			}
		}
		@media (max-width: 1200px){
			left: 0;
		}
	}
	.swiper-pagination{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 26px;
		position: static;
		&-bullet{
			width: 7px;
			height: 7px;
			border-radius: 7px;
			background: #C5C5C580;
			opacity: 1;
			transition: .4s;
			&-active{
				background: var(--bg-primary);
			}
		}
	}
	@media (max-width: 768px){
		.swiper{
			.swiper-slide{
				.text{ padding: 1rem; }
			}
		}
	}
}//page-slider
.learning-article{
	padding: 33px 0 40px;
	h2{
		font-size: 25px;
		font-weight: 600;
		line-height: 1.25;
		text-align: center;
		color: var(--color-black);
		margin-bottom: 44px;
	}
	.item{
		text-align: center;
		h4{
			font-size: 18px;
			font-weight: 600;
			line-height: 1.5;
			margin-bottom: 27px;
		}
		.img{
			position: relative;
			width: 100%;
			padding-top: 70%;
			margin-bottom: 40px;
			img{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				left: 0;
				top: 0;
			}
		}
		p{
			font-size: 18px;
			font-weight: 500;
			line-height: 1.5;
			color: var(--color-gray);
		}
	}
	.parent-feedback{
		h3{
			font-size: 25px;
			font-weight: 600;
			line-height: 1.25;
			color: var(--color-black);
			margin-bottom: 42px;
			text-align: center;
		}
		.img{
			margin-bottom: 45px;
			img{
				display: block;
				margin: 0 auto;
			}
		}
		.item{
			margin-bottom: 50px;
			text-align: center;
			p{
				font-size: 18px;
				font-weight: 500;
				line-height: 1.5;
				margin-bottom: 27px;
			}
			.name{
				font-size: 14px;
				font-weight: 700;
				line-height: 1.75;
				color: var(--color-gray);
			}
		}
	}
}//learning-article
.contact-article{
	padding: 60px 0;
	.container-2{
		position: relative;
	}
	.map{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 5;
		iframe{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.form-aside{
		padding: 35px;
		.form{
			width: 460px;
			max-width: 100%;
			padding: 50px;
			background: var(--bg-white);
			position: relative;
			z-index: 10;
			box-shadow: 0px 4px 4px 0px #00000040;
			.info{
				margin-bottom: 50px;
				ul{
					li{
						a{
							display: flex;
							align-items: center;
							font-size: 12px;
							line-height: 1.75;
							color: var(--color-black);
							padding: .5rem 0;
							transition: .4s;
							span{
								&+span{
									padding-left: .5rem;
									transition-delay: .1s;
								}
								transition: .4s;
							}
							&:hover{
								span{
									transform: translateX(3px);
									&+span{
										transform: translateX(5px);
									}
								}
							}
						}
					}
				}
			}
			h2{
				font-size: 14px;
				font-weight: 500;
				color: var(--color-black);
				margin-bottom: 1rem;
			}
			.form-group{
				margin-bottom: .5rem;
				label{
					display: block;
					padding-bottom: 6px;
					font-size: 12px;
					font-weight: 400;
					color: var(--color-black);
				}
				input,textarea{
					width: 100%;
					height: 43px;
					background: var(--bg-input);
					border: none;
					border-radius: 0;
					&::placeholder{
						color: var(--color-black);
						opacity: 1;
					}
					&:focus{
						box-shadow: 0 0 0 0.125rem var(--bg-input-shadow);
					}
				}
				textarea{
					resize: none;
					height: 70px;
				}
			}
			button{
				border: 1px solid var(--bg-primary);
				background: var(--bg-primary);
				color: var(--color-white);
				font-size: 13px;
				font-weight: 400;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: .4s;
				width: 100px;
				height: 34px;
				margin-top: 20px;
				span{}
				&:hover{
					background: var(--bg-white);
					color: var(--color-primary);
				}
			}
		}
	}
	@media (max-width: 992px){
		.map{
			position: static;
			margin-bottom: 1rem;
			height: 500px;
		}
		.form-aside{
			.form{ 
				margin: 0 auto; 
			}
		}
	}
	@media (max-width: 576px){
		.form-aside{
			padding: 1rem 0;
			.form{
				padding: 1rem;
			}
		}
	}
}//contact-article
.donate-article{
	padding: 60px 0; 
	h2{
		font-size: 28px;
		font-weight: 600;
		line-height: 1.25;		
		color: var(--color-black);
		margin-bottom: 1.25rem;
	}
	h3{
		font-size: 20px;
		font-weight: 600;
		line-height: 1.25;		
		color: var(--color-black);
		margin-bottom: .5rem;
	}
	.text{
		padding-top: 50px;
		padding-right: 50px; 
		p{
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			color: var(--color-gray);
		}
		.img{
			margin-bottom: 3rem;
			img{
				display: block;
				max-width: 100%;
			}
		}
	}
	.label-set{
		margin-bottom: 1rem;
		label{
			display: block;
			padding: .25rem 0;
		}
	}
	.donation-amount{
		.form-group{
			label{
				padding: .75rem 0;
				font-size: 14px;
				font-weight: 400;
			}
			.input-group{
				margin-bottom: 1rem;
				.input-group-prepend{
					.input-group-text{
						border-radius: 0;
					}
				}
				input{
					border-radius: 0;
					&:focus{
						box-shadow: 0;
					}
				}
			}
		}
		.button-set{
			display: flex;
			flex-wrap: wrap;
			gap: .25rem;
			margin-bottom: 1rem;
			button{
				display: block;
				background: var(--bg-primary);
				color: var(--color-white);
				border-radius: 3px;
				padding: .5rem 1rem;
				font-size: 14px;
				font-weight: 600;
				text-align: center;
				border: 1px solid var(--bg-primary);
				transition: .4s;
				span{}
				&:hover{
					background: var(--bg-white);
					color: var(--bg-primary);
				}
			}
		}
	}//donation-amount
	.personal-info{
		padding-top: 1.5rem;
		.form-group{
			margin-bottom: 1rem;
			label{
				font-size: 14px;
				font-weight: 500;
				color: var(--color-black);
				padding: 1rem 0;
			}
			input,textarea{
				&:focus{
					border-radius: 4px;
					box-shadow: none;
				}
			}
			textarea{
				resize: none;
				height: 134px;
			}
		}
	}//personal-info
	.billing-details{
		.form-group{
			margin-bottom: 1rem;
			label{
				font-size: 14px;
				font-weight: 500;
				color: var(--color-black);
				padding: 1rem 0;
			}
			input{
				&:focus{
					border-radius: 4px;
					box-shadow: none;
				}
			}
		}
		.donate-btn{
			border: 1px solid var(--bg-primary);
			background: var(--bg-primary);
			color: var(--color-white);
			font-size: 14px;
			font-weight: 500;
			padding: .5rem 1rem; 
			border-radius: 5px;
			display: flex;
			align-items: center;
			height: 40px;
			transition: .4s;
			&:hover{
				background: var(--bg-white);
				color: var(--color-primary);
			}
		}
	}//billing-details
	@media (max-width: 768px){
		.text{
			padding-top: 0;
		}
	}
}//donate-article
.footer{
	.up{
		background: var(--bg-primary);
		padding: 50px 0; 
		h6{
			font-size: 13px;
			font-weight: 500;
			line-height: 1.5;
			color: var(--color-white);
			position: relative;
			padding: 10px 0; 
			margin-bottom: 27px;
			&:before{
				content:"";
				position: absolute;
				bottom: 0;
				width: 40px;
				height: 1px;
				background: var(--bg-white);
			}
		}
		p{
			font-size: 13px;
			color: var(--color-white);
			line-height: 1.75;
			max-width: 300px;
			width: 100%;
		}
		ul{
			li{
				a{
					display: flex;
					align-items: center;
					font-size: 12px;
					line-height: 1.75;
					color: var(--color-white);
					padding: .5rem 0;
					transition: .4s;
					span{}
				}
			}
			&.footer-info{
				li{
					a{
						span{
							&+span{
								padding-left: .5rem;
								transition-delay: .1s;
							}
							transition: .4s;
						}
						&:hover{
							span{
								transform: translateX(3px);
								&+span{
									transform: translateX(5px);
								}
							}
						}
					}
				}
			}
			&.footer-social{
				display: flex;
				flex-wrap: wrap;
				gap: 6px;
				li{
					a{
						position: relative;
						color: var(--color-white);
						width: 28px;
						height: 28px;
						display: grid;
						place-items: center;
						padding: 0;
						&:before{
							content:"";
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							background: var(--bg-white);
							opacity: .1; 
							transition: .4s; 
						}
						span{
							display: block;
							position: relative;
							svg{
								display: block;
								transform: scale(1.15);
								transition: .4s;
							}
						}
						&:hover{
							&:before{
								background: var(--bg-primary);
							}
							span{
								svg{
									transform: scale(2);
								}
							}
						}
					}
				}
			}
			&.footer-categories{
				li{
					a{
						padding-left: 0;
						padding-right: .5rem;
						position: relative;
						&::before{
							content: "";
							width: 0;
							height: 1px;
							background: var(--bg-white);
							position: absolute;
							left: -.25rem;
							top: 50%;
							transition: .4s;
						}
						&:hover{
							padding-left: .5rem;
							padding-right: 0;
							&:before{
								width: .5rem;
							}
						}
					}
				}
			}
		}
	}//up
	.low{
		.signature{
			display: flex;
			justify-content: center;
			a{
				padding: .75rem;
				display: block;
				img{
					display: block;
					max-width: 100%;
				}
			}
		}
	}//low
	@media (max-width: 768px){
		text-align: center;
		.row{
			max-width: 300px;
			margin: 0 auto; 
		}
		.up{
			ul{
				&.footer-info{
					li{
						a{
							justify-content: center;
						}
					}
				}
				&.footer-social{
					justify-content: center;
				}
				&.footer-categories{
					li{
						a{
							justify-content: center;
							padding-left: 0;
							padding-right: 0;
							&:before{
								display: none;
							}
							&:hover{
								padding-left: 0;
								padding-right: 0; 
							}
						}
					}
				}
			}
		}
	}
}//footer
